{% load static %}

<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Online store</title>
    <link rel="stylesheet" href="{% static 'my_site/css/main.css' %}">
    {% block additional_css %}

    {% endblock %}

</head>
<body>

<nav class="navbar"> <!--навигация-->

    <div class="nav">
        <img src="{% static 'my_site/img/dark-logo.png' %}" class="brand-logo" alt="">
        <div class="nav-items">
            <div class="search">
                <!--suppress HtmlFormInputWithoutLabel -->
                <input type="text" class="search-box" placeholder="Поиск по бренду, товару...">
                <button class="search-btn">Поиск</button>
            </div>
            <a href="#"><img src="{% static 'my_site/img/user.png' %}" alt=""></a>
            <a href="#"><img src="{% static 'my_site/img/cart.png' %}" alt=""></a>
        </div>
    </div>
    <ul class="links-container">
        <li class="link-item"><a href="{% url 'index' %}" class="link">Главная</a></li>
        <li class="link-item"><a href="#" class="link">Женское</a></li>
        <li class="link-item"><a href="#" class="link">Мужское</a></li>
        <li class="link-item"><a href="#" class="link">Дети</a></li>
        <li class="link-item"><a href="#" class="link">Аксесуары</a></li>
    </ul>

</nav>
{% block main %}

{% endblock %}
<footer>
    <div class="footer-content">
        <img src="{% static 'my_site/img/light-logo.png' %}" class="logo" alt="">
        <div class="footer-ul-container">
            <ul class="category">
                <li class="category-title">Мужское</li>
                <li><a href="#" class="footer-link">футболки</a></li>
                <li><a href="#" class="footer-link">толстовки</a></li>
                <li><a href="#" class="footer-link">рубашки</a></li>
                <li><a href="#" class="footer-link">джинсы</a></li>
                <li><a href="#" class="footer-link">брюки</a></li>
                <li><a href="#" class="footer-link">обувь</a></li>
                <li><a href="#" class="footer-link">Кэжуал</a></li>
                <li><a href="#" class="footer-link">официальная одежда</a></li>
                <li><a href="#" class="footer-link">спорт</a></li>
                <li><a href="#" class="footer-link">часы</a></li>
            </ul>
            <ul class="category">
                <li class="category-title">Женское</li>
                <li><a href="#" class="footer-link">футболки</a></li>
                <li><a href="#" class="footer-link">толстовки</a></li>
                <li><a href="#" class="footer-link">рубашки</a></li>
                <li><a href="#" class="footer-link">джинсы</a></li>
                <li><a href="#" class="footer-link">брюки</a></li>
                <li><a href="#" class="footer-link">обувь</a></li>
                <li><a href="#" class="footer-link">Кэжуал</a></li>
                <li><a href="#" class="footer-link">официальная одежда</a></li>
                <li><a href="#" class="footer-link">спорт</a></li>
                <li><a href="#" class="footer-link">часы</a></li>

            </ul>
        </div>
    </div>

    <!-- предыдущие элементы -->
    <p class="footer-title">О КОМПАНИИ</p>
    <p class="info">Дом - это наши клиенты. Ваше время, чтобы доставить их ей в любое время, но вариант только спросить,
        который создает структуру и большую часть настоящего, мастер-строитель миниатюр отвергает это оригинальное
        взятие других мужчин. Эти инструменты ненавидят больше всего, что удовольствие от танца связанного тела! Когда
        ошибка сама по себе перекусывает время в реальном мире, нуждается в наших способах! Долги по его получению никто
        не откроет, кроме как, и донесет на службы. Закуски, которые упражняются, когда вина очаровывает город, различие
        во времени, желание присутствующих, кроме как в качестве постоянного, принимая легкое удовольствие от бегства от
        этого удовольствия для него. Аспериорес, родился! Является ли первоначальный инцидент таким, чтобы понравиться
        всем, поэтому один из них?</p>
    <p class="info">Email поддержки - help@poderjka.com</p>
    <p class="info">телефон - +7 999 212 85 06</p>
    <div class="footer-social-container">
        <div>
            <a href="#" class="social-link">условия и услуги</a>
            <a href="#" class="social-link">Конфиденциальность</a>
        </div>
        <div>
            <a href="#" class="social-link">instagram</a>
            <a href="#" class="social-link">facebook</a>
            <a href="#" class="social-link">twitter</a>
        </div>
    </div>
    <p class="footer-credit">Интернет-магазин лучшей одежды</p>

</footer>

{% block additional_js %}
    <script type="text/javascript" src="{% static 'my_site/js/product.js' %}"></script>
    <script type="text/javascript" src="{% static 'my_site/js/home.js' %}"></script>
{% endblock %}

</body>
</html>
