{% extends 'base.html' %}
{% load static %}
{% block additional_css %}
    <link rel="stylesheet" href="{% static 'my_site/css/product.css' %}">
{% endblock %}
{% block main %}


    <section class="product-details">
        <div class="image-slider">
            <div class="product-images">
                {% for image in product.productimage_set.all %}
                    <img src="{{ image.image.url }}" class="
                    {% if forloop..first %}
                        active
                    {% endif %}
                " alt="">
                {% endfor %}
            </div>
        </div>
        <div class="details">
            <h2 class="product-brand">{{ product.name }}</h2>
            <p class="product-short-des">{{ product.description }}</p>
            <span class="product-price">{{ product.price_with_discount }}₽</span>
            <span class="product-actual-price">{{ product.price }}₽</span>
            {% if product.discount > 0 %}
                <span class="product-discount">( {{ product.discount }}% скидка )</span>
            {% endif %}
            <p class="product-sub-heading">выберите размер</p>

            <input type="radio" name="size" value="s" checked hidden id="s-size">
            <label for="s-size" class="size-radio-btn check">s</label>
            <input type="radio" name="size" value="m" hidden id="m-size">
            <label for="m-size" class="size-radio-btn">m</label>
            <input type="radio" name="size" value="l" hidden id="l-size">
            <label for="l-size" class="size-radio-btn">l</label>
            <input type="radio" name="size" value="xl" hidden id="xl-size">
            <label for="xl-size" class="size-radio-btn">xl</label>
            <input type="radio" name="size" value="xxl" hidden id="xxl-size">
            <label for="xxl-size" class="size-radio-btn">xxl</label>

            <button class="btn cart-btn">добавить в корзину</button>
        </div>
    </section>

{% endblock %}
{% block additional_js %}
    <script src="{% static 'my_site/js/product.js' %}"></script>
{% endblock %}
